h1 New Message Form
block content
    form(method="post" action="/new")
        h3 Author Name
        input(type='text' name='name')
        br
        h3 Message
        input(type='text' name='message')
        br
        input(type='submit' name='submit')